<div id="bill" class="test">
    <h1 class="titel">Fridge 1 Bill</h1>
    <h2>Item Amount: {{quantity}}</h2>
    

    <!--<main class="frame">
        <h2 class="product">Gesuchtes Medi</h2>
        <h2 class="product">Gesuchtes Medi</h2>
        <h2 class="product">Gesuchtes Medi</h2>
        <h2 class="product">Gesuchtes Medi</h2>
        <h2 class="product">Gesuchtes Medi</h2>
        <h2 class="product">Gesuchtes Medi</h2>
        <h2 class="product">Quantity: {{quantity}}</h2>

    </main>
-->

    <!-- <p>Quantity: {{quantity}}</p>
    <p>Products:
        <ul>
            <li>Placeholder 1</li>
            <li>Placeholder 2</li>
            <li>Placeholder 3</li>
        </ul>
    </p>
    <p>Sum amount: €123</p> -->

    <div class="default">
        <div class="button">
            <p class="buttonText">Einkauf abschließen</p>
        </div>

    </div>
</div>