<div id="state1_2">
    <h1 class="titel">Fridge 1</h1>


    <main class="frame">
        <h2 class="product">Gesuchtes Medi</h2>
        <h2 class="product">Gesuchtes Medi</h2>
        <h2 class="product">Gesuchtes Medi</h2>
        <h2 class="product">Gesuchtes Medi</h2>
        <h2 class="product">Gesuchtes Medi</h2>
        <h2 class="product">Gesuchtes Medi</h2>
    </main>
    <div class="default">
        <div class="activeState">
            <h2 class="activeText"> Fridge offen</h2>
        </div>

    </div>
</div>