{% extends "index.html" %}

{% block table %}
<div class="container">
    <h2>Bill</h2>
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Winston_red</td>
                <td>6,60</td>
                <td>1</td>
                <td>6,60</td>
            </tr>
            <tr>
                <td>Camel_yellow</td>
                <td>7,00</td>
                <td>1</td>
                <td>6,60</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>-</td>
                <td>-</td>
                <td>13,60</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <div class="pay">
        <h2>Select Payment Method</h2>
        <div class="paybuttons">
            <button type="button" id="buttonDebit">
                <img src="/static/icons/debit.jpg" alt="Debit">
                <br>debit card
            </button>
            <button type="button" id="buttonCredit">
                <img src="/static/icons/credit.jpg" alt="Credit">
                <br>credit card
            </button>
            <button type="button" id="buttonPaypal">
                <img src="/static/icons/paypal.jpg" alt="Paypal">
                <br>PayPal
            </button>
            <button type="button" id="buttonRevolut">
                <img src="/static/icons/revolut.jpg" alt="Revolut">
                <br>Revolut
            </button>
        </div>

    </div>
</div>

{% endblock table%}